section.prime-club {
  background: url("../../assets/prime-club.jpg") no-repeat fixed center center;
  background-size: cover;
  position: relative;
  font-family: var(--font-bebas);
}
section.prime-club .overlay {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  background: rgb(0, 0, 0, 0.7);
}
section.prime-club .prime-club-container {
  background: url("../../assets/main-bg/header-bg.png") no-repeat center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 400px;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  border-radius: 15px;
}

section.prime-club .prime-club-container .form h2 {
  font-size: 50px;
  color: var(--white-color);
  text-align: center;
}
section.prime-club .prime-club-container .form h2 span {
  color: var(--primary-color);
}
section.prime-club .prime-club-container .form p {
  color: var(--grey-color);
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}
section.prime-club .prime-club-container .form > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
section.prime-club .prime-club-container .form select {
  background-color: #222;
  display: block;
  width: 100px;
  height: 55px;
  border: 2px solid var(--grey-color);
  border-radius: 10px;
  font-weight: 500;
  background-color: #222;
  color: var(--white-color);
  padding: 10px;
  margin: 0 10px 15px 0;
  cursor: pointer;
  font-family: var(--font-bebas);
  font-size: 18px;
}
section.prime-club .prime-club-container .form .inputs-container {
  display: flex;
  justify-content: baseline;
}
section.prime-club .prime-club-container .form label {
  color: var(--white-color);
  font-size: 18px;
  padding-left: 3px;
  margin-bottom: 3px;
  display: inline-block;
  letter-spacing: 0.5px;
}
section.prime-club .prime-club-container .form input {
  display: block;
  width: 100%;
  height: 55px;
  border: 2px solid var(--grey-color);
  border-radius: 10px;
  font-weight: 500;
  background-color: #222;
  color: var(--white-color);
  padding: 0 10px;
  margin-bottom: 15px;
}

section.prime-club .prime-club-container .submit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.prime-club .prime-club-container .form button {
  font-family: var(--font-bebas);
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  text-align: center;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 20px;
  border: none;
  letter-spacing: 0.5px;
  margin: 10px auto;
  width: 50%;
  height: 55px;
  border: 2px solid;
}
section.prime-club .prime-club-container .steps {
  color: var(--white-color);
  margin-top: 20px;
}
section.prime-club .prime-club-container .steps h3 {
  font-size: 35px;
  font-weight: normal;
  margin: 0;
}
section.prime-club .prime-club-container .steps ol {
  padding-left: 20px;
  font-size: 25px;
  line-height: 1.8;
}
section.prime-club .prime-club-container .steps span.mark {
  color: var(--primary-color);
}
.signin-btn {
  color: #fff;
  text-decoration: underline;
  font-size: 20px;
}
section.prime-club .prime-club-container .contact .contact-container {
  width: 100%;
  margin: auto;
  border: 2px solid var(--grey-color);
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}
section.prime-club .prime-club-container .contact .contact-container h2 {
  color: var(--primary-color);
  font-size: 50px;
}
section.prime-club
  .prime-club-container
  .contact
  .contact-container
  .booking-details-container {
  display: flex;
}
section.prime-club .prime-club-container .contact .contact-container > div {
  color: var(--white-color);
  margin-bottom: 20px;
}
section.prime-club .prime-club-container .contact .contact-container > div h3 {
  font-weight: normal;
  font-size: 30px;
  margin-top: 10px;
}
section.prime-club
  .prime-club-container
  .contact
  .contact-container
  > div
  span {
  color: var(--grey-color);
  display: block;
  font-family: var(--font-roboto);
  margin-bottom: 3px;
}
@media only screen and (max-width: 767px) {
  section.prime-club .prime-club-container {
    display: block;
  }
  section.prime-club .prime-club-container .form {
    margin-bottom: 20px;
  }
  section.prime-club .prime-club-container .form h2 {
    font-size: 46px;
  }
  section.prime-club .prime-club-container .form P {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  section.prime-club .prime-club-container {
    grid-template-columns: 1fr 250px;
  }
}
