.testimonials {
  padding: 100px 0;
  background: url("/assets/main-bg/light_bg.png");
  background-attachment: fixed;
  font-family: var(--font-bebas);
}

.testimonials span.test-span {
  color: var(--primary-color);
  font-size: 30px;
  display: block;
  text-align: center;
  font-family: var(--font-playball);
}
.testimonials h2 {
  font-size: 50px;
  text-align: center;
  color: var(--secondary-color);
}
.testimonials .testimonials-container {
  padding: 40px 0;
  overflow: hidden;
}
.testimonials .testimonials-container .testimonial {
  display: flex;
  justify-content: center;
  color: var(--white-color);
}
.testimonials .testimonials-container .testimonial {
  width: 350px;
  height: 400px;
}
.testimonials .testimonials-container .testimonial .testimonials-img {
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 1199px) {
  .testimonials .testimonials-container .testimonial {
    width: 300px;
    height: 350px;
  }
}
@media only screen and (max-width: 991px) {
  .testimonials .testimonials-container .testimonial {
    width: 250px;
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .testimonials .testimonials-container .testimonial {
    width: 90%;
    margin: 0 auto;
    height: 100%;
  }

  .testimonials h2 {
    font-size: 60px;
  }
}
@media only screen and (max-width: 575px) {
  .testimonials h2 {
    font-size: 35px;
  }
}
