.iftar-slider {
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}
.cat-li {
  margin: 0 10px !important;
}
.cat-li a:hover {
  color: var(--primary-color);
  transition: 400ms;
}
.cat-li a:hover img {
  border: 3px solid var(--primary-color);
  transition: 400ms;
}
.cat-li a img {
  height: 100px !important;
  width: 100px !important;
  border-radius: 50%;
  border: 3px solid var(--white-color);
  padding: 0 !important;
  margin: 5px 0 !important;
}
.item1 {
  background: url("/assets/iftar-craving/family-sampler-menu.webp") no-repeat
    center center;
  background-size: contain;
}
.item2 {
  background: url("/assets/iftar-craving/duo-sampler-menu.webp") no-repeat
    center center;
  background-size: contain;
}
.item3 {
  background: url("/assets/iftar-craving/california-rock-menu.webp") no-repeat
    center center;
  background-size: contain;
}
.item4 {
  background: url("/assets/iftar-craving/smoky-platter-menu.webp") no-repeat
    center center;
  background-size: contain;
}
.item5 {
  background: url("/assets/iftar-craving/country-platter-menu.webp") no-repeat
    center center;
  background-size: contain;
}
.item6 {
  background: url("/assets/iftar-craving/mississippe-platter-menu.webp")
    no-repeat center center;
  background-size: contain;
}

.iftar-aligned-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .iftar-slider {
    height: 320px;
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6 {
    background-size: cover;
  }
  .iftar-slider .item {
    height: 320px;
  }
}
@media only screen and (max-width: 991px) {
  .iftar-aligned-list {
    justify-content: flex-start;
  }
}
.side-choice {
  font-family: var(--font-bebas);
  background: url("/assets/main-bg/header-bg.png");
  padding: 20px;
  margin: 30px auto;
  text-align: center;
  width: 90%;
  border-radius: 10px;
}
.side-choice h3 {
  color: var(--primary-color);
  margin-top: 10px;
}
.side-choice p {
  color: #fff !important;
  font-family: var(--font-roboto);
}
